<launch>
   <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 0.03 0 0 0 1 CameraTop_frame camera_link" />

   <include file="$(find realsense2_camera)/launch/rs_camera.launch">
     <arg name="enable_sync" value="1" />
     <arg name="align_depth" value="1" />
     <arg name="enable_color" value="1" />
     <arg name="enable_depth" value="1" />
     <arg name="color_fps" value="15" />
     <arg name="color_height" value="720" />
     <arg name="color_width" value="1280" />
     <arg name="depth_fps" value="15" />
     <arg name="depth_height" value="720" />
     <arg name="depth_width" value="1280" />
     <arg name="infra_fps" value="15" />
     <arg name="infra_height" value="720" />
     <arg name="infra_width" value="1280" />

   </include>

</launch>

